<%- include partials/header %>
<script>

    function initialize() {
        var input = document.getElementById('search');
        var autocomplete = new google.maps.places.Autocomplete(input, { types: ['(cities)'],componentRestrictions: {
          country: "in"
        }});
        console.log(autocomplete.getPlace());
        google.maps.event.addListener(autocomplete, 'place_changed', function () {
            var place = autocomplete.getPlace();
            console.log(place);



        });

    }

   

</script>
<div class="container">
    <header class="jumbotron">
        <div class="container ">
            <!--Search Bar-->
            <p class="lead text-center ">Enter your Location</p>
            <form class="form-inline justify-content-center" method="GET" action="">

                <input id="search" class="form-control mr-sm-2" name="query" type="text" placeholder=" City/Town" size="50">
                <button class="btn btn-outline-success  my-2 my-sm-0" type="submit">Find Potholes</button>
            </form>

        </div>
        
    </header>
    <!-- row is already in container -->
    <table class="table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Date</th>
                <th scope="col">City</th>
                <th scope="col">Status</th>
                <th scope="col">Image</th>
                <th scope="col">More</th>

              </tr>
            </thead>
            <tbody>
                <% if (complaints.length > 0){ %>
                    <% complaints.forEach((complaint,index)=>{ %>

                    <tr>
                        <th scope="row"><%= index + 1 %> </th>
                        <td><%= complaint.date %></td>
                        <td><%= complaint.city %></td>
                        <td><%= complaint.status %></td>
                        <td><img src="<%= complaint.pic_url %>" width="100px" height="100px"/></td>
                        <td><a href="potholes/<%= complaint.complaint_id %>">View More</a></td>

                    </tr>
                    <% }) %>
                <% } %>

    
            </tbody>
          </table>
          



</div>

<%- include partials/footer %>