<%- include('../partials/header') %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmGMOtcaH0pNORJMA43INflioNSTI1ZY&callback=initMap"
  async defer>
</script>
<style>
  /* Google Maps */
    #map {
        height: 400px;
        width: 100%;
    }
    img{
      width:100%;
      height:350px;
    }
</style>

<div class="container mt-1">
  <div class="row">

    <div class="col-md-6">
      <div id="map" style="border:1px solid black"></div>


    </div>
    <div class="col-md-6">

      <div class="card">
        <img src="<%= pothole.pic_url %>" alt="image not Found">
        <div class="card-body">
          <h5 class="text-center">Pothole Details</h5>
          <ul class="list-group">
            <li class="list-group-item"><b>Number of Potholes</b>:
              <%= pothole.number_of_potholes %>
            </li>
            <li class="list-group-item"><b>Area</b>:
              <%= pothole.pothole_area.toFixed(2) %> sqm</li>
            <li class="list-group-item"><b>Status</b>:
              <%= pothole.status %>
            </li>
            <li class="list-group-item"><b>Asphalt Required:</b>:
              <% totalmass=function(value){ 
                mass=value*0.04*0.002243; 
                return mass;
              }  
              %>
              <%= totalmass(pothole.pothole_area.toFixed(2)) %> kg
            </li>
            <li class="list-group-item"><b>Price Of Asphalt(per kg): </b>30 Rs

            </li>
            <li class="list-group-item"><b>Cost Estimated:</b>:
              <%= totalmass(pothole.pothole_area.toFixed(2))*30 %> Rs
            </li>


          </ul>
          <% if(currentUser) { %>
          <form action="/potholes/<%= pothole.uid %>/<%= pothole.complaint_id %>" method="POST">

            <div class="form-group">
              <label class="ml-3" for="status"><b>Select status</b></label>
              <select class="form-control" name="statusPicker" id="status">
                <option value="Unattended">Unattended</option>
                <option value="In Progress">In Progress</option>
                <option value="Completed">Completed</option>
              </select>
            </div>
            <br>
            <br>
            <button type="submit" class="btn btn-primary mb-2">Change Status</button>

          </form>
          <% } %>
        </div>
      </div>
    </div>

  </div>
  <!-- <br><br>
      <div class="row">
            <div class="col-md-12">
              
              Hello
            
        </div> -->
</div>

<script>
  function initMap() {
    var lat = <%= pothole.latitude %>;
    var lng = <%= pothole.longitude %>;
    var center = {
      lat: lat,
      lng: lng
    };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 20,
      center: center,
      scrollwheel: false
    });
    var contentString = `
            <strong><%= pothole.location_add %><br />
            
          `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
      position: center,
      map: map
    });
    marker.addListener('click', function () {
      infowindow.open(map, marker);
    });
  }
</script>




<%- include('../partials/footer') %>