<%- include('../partials/header') %>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMmGMOtcaH0pNORJMA43INflioNSTI1ZY&callback=initMap"
      async defer>
</script>
<style>
    /* Google Maps */
    #map {
        height: 400px;
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6">
          
          <div class="card" style="width: 18rem;">
                <img src="<%= pothole.pic_url %>" alt="Lights" style="width:100%">
                <div class="card-body">
                    <h3>Pothole Details :</h3>
                    <ul class="list-group">
                            <li class="list-group-item"><b>Number of Potholes</b>: <%= pothole.number_of_potholes %></li>
                            <li class="list-group-item"><b>Area</b>: <%= pothole.pothole_area.toFixed(2) %> sqm</li>
                            <li class="list-group-item"><b>Status</b>: <%= pothole.status %> </li>

                    </ul>
                </div>
              </div>
        </div>
        <div class="col-md-6">
            <div id = "map"></div>
            <form action="/potholes/<%= pothole.uid %>/<%= pothole.complaint_id %>" method="POST">

                <div class="form-group">
                    <label for="status"><b>Select status</b></label>
                        <select class="form-control" name="statusPicker" id="status">
                            <option value="Unattended">Unattended</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Completed">Completed</option>
                        </select>
                </div>
                <button type="submit" class="btn btn-primary mb-2">Change Status</button>

            </form>

        </div>
        
      </div>
      <!-- <br><br>
      <div class="row">
            <div class="col-md-12">
              
              Hello
            
        </div> -->
</div>

<script>
        function initMap() {
          var lat = <%= pothole.latitude %>;
          var lng = <%= pothole.longitude %>;
          var center = {lat: lat, lng: lng };
          var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 20,
              center: center,
              scrollwheel: false
          });
          var contentString = `
            <strong><%= pothole.user_name %><br />
            
          `
          var infowindow = new google.maps.InfoWindow({
            content: contentString
          });
          var marker = new google.maps.Marker({
              position: center,
              map: map
          });
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });
        }
        
</script>


  

<%- include('../partials/footer') %>